<form action="/submit">
	<label for="yt_live">Youtube Livestream:</label>
	<input type="text", id="yt_live", name="yt_live", value="%YOUTUBE_LIVESTREAM"><br/><br/>
	
	
	<label for="tw_chn">Twitch Channel:</label>
	<input type="text", id="tw_chn", name="tw_chn", value="%TWITCH_CHANNEL"><br/><br/>


		<label for="tw_nick">Twitch Nickname:</label>
	<input type="text", id="tw_nick", name="tw_nick", value="%TWITCH_NICK"><br/><br/>


		<label for="tw_chn">Twitch Token (https://twitchapps.com/tmi):</label>
	<input type="password", id="tw_tkn", name="tw_tkn", value="%TWITCH_TOKEN"><br/><br/>

	<input type="submit", value="Submit Changes and Restart Chat Service">
</form>